<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Empiria.Documents" version="7.0.0" targetFramework="net46" />
  <package id="Empiria.Foundation" version="7.0.0" targetFramework="net46" />
  <package id="Empiria.Geography" version="7.0.0" targetFramework="net46" />
  <package id="Empiria.Land.AppServices" version="4.0.0" targetFramework="net46" />
  <package id="Empiria.Land.Documentation" version="4.0.0" targetFramework="net46" />
  <package id="Empiria.Land.Registration" version="4.0.0" targetFramework="net46" />
  <package id="Empiria.Land.UI" version="4.0.0" targetFramework="net46" />
  <package id="Empiria.OnePoint" version="1.0.0" targetFramework="net46" />
  <package id="Empiria.OnePoint.AppServices" version="1.0.0" targetFramework="net46" />
  <package id="Empiria.Presentation" version="7.0.0" targetFramework="net46" />
  <package id="Empiria.Presentation.Web" version="7.0.0" targetFramework="net46" />
  <package id="Empiria.WebApi.Client" version="2.0.0" targetFramework="net46" />
  <package id="Empiria.WebServices" version="7.0.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.4" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net46" />
  <package id="QrCode.Net" version="0.4.0.0" targetFramework="net46" />
  <package id="System.Threading.Tasks.Extensions" version="4.4.0" targetFramework="net46" />
</packages>