html, body {
  color: #294763;
  background-color: #f2f2f2;
  margin: 16px;
}
table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
}
h1 {
  font-size:16pt;
}
h2 {
  font-size:14px;
  padding-right:18px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-bottom: #000064 2px solid;
  border-top: #000064 2px solid;
}
.trace {
  padding-right:24px;
}

