body {
	/*background-image: url(../images/customer/background.png);*/
	background: url(../images/customer/background.png) ;
	color: #064D2C;
	font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
	font-size: 10pt;
	background-color: #ffffff;
	margin: 0px;
}

a, a:link, a:visited, a:active {
	background-color: inherit;
	color: #9a9a9a;
	font-family: Tahoma, Arial, sans-serif;
	text-decoration: none;
}

a:hover {
	background-color: inherit;
	color: #002400;
	text-decoration: none;
}

h1 {
	font-family: Century, Serif;
	font-weight: normal;
	color: #004600;
	width: 340px;
	font-size: 2em;
	float: right;
	text-align: right;
	padding-right: 12pt;
	margin-top: 9px;
}

h2 {
	font-weight: bold;
	font-size: 1em;
	white-space: nowrap;
	margin-top: 0px;
	margin-bottom:0px;
}

.pleca {
	top: 72px;
	left:-22px;
	position: absolute;
	width: 672px;
	z-index: 99;
}

#mainItem {
	background-color: #fff;
	width: 636px;
	height: 420px;
	position: absolute;
	left: 50%;
	top: 45%;
	margin: -210px 0 0 -318px;
	border-bottom: #043920 22px solid;
	border-bottom-color: #043920;
	border-radius: 12px;
	border-right: 1px solid #fafafa;
	border-left: 1px solid #fafafa;
}

#divContent {
	position: relative;
	margin-left: 140px;
	top: 78px;
	height: 260px;
}

#divSponsor {
	float: right;
	text-align: right;
	border-top: #dcdcdc 1px dashed;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 12px;
	padding-left: 24px;
	color: #8a998a;
	position: relative;
	top: 26px;
	clear: both;
	font-size: 0.9em;
}

#governmentSite {
	font-weight: 800;
	font-size: 1.5em;
	color: #969696;
	position: relative;
	top: 32px;
	left: 40px;
}

#divCopyright {
	width: 638px;
	position: relative;
	top: 52px;
	clear: both;
	font-size: 0.9em;
}

#divHtml5Compliance {
	clear: both;
	position: relative;
	top: 12px;
	float: right;
	padding-right: 12px;
	opacity: 0.2;
}

.leftItem {
	float: left;
	text-align: left;
	font-size: 0.9em;	
	margin-left: 1em;
}

.rightItem > a {
	float: right;	
	text-align: right;
	font-size: 0.9em;
	margin-right: 1em;
}