body {
  font-family: Calibri, Vrinda, 'Gill Sans', 'Trebuchet MS', sans-serif;
  /* Vrinda, 'Gill Sans', 'Gill Sans MT', */
  font-kerning: none;
  text-align: justify;
  font-size: 10pt;
}

h2 {
  font-size: 16pt;
  padding-top: 12pt;
  margin-bottom: 4pt;
}

h5 {
    margin-top: 2pt;
    font-size: 10pt;
    line-height: 2px;
    font-weight: 100;
}

h3 {
  font-size: 12pt;
  margin-bottom: 4pt;
}

h4 {
  font-size: 10pt;
  font-weight: 400;
  margin-top: 2pt;
  line-height: 2px;
}

.footNotes {
  font-size: 8pt;
  padding-left: 78pt;
}

.certificate-text {
  text-align: justify;
  border-left: 8pt solid black;
  padding-left: 46pt;
  margin-left: 24pt;
  margin-right: 2.0cm;
}

.logo {
  padding-left: 28pt;
}

.table-transaction-data {
  padding: 0;
  border-spacing: 14pt 2pt;
  margin-left: -14pt;
}
