html, body {
  background: #ffffff;
  color: #7a7a7a;
  font-family: Arial, Sans-serif;
  font-size: 8pt;
  padding: 0;
  margin: 0;
  height: 100%; }

a, a:link, a:visited, a:active {
  background-color: inherit;
  color: inherit;
  text-decoration: none; }

a:hover {
  background-color: inherit;
  color: inherit;
  text-decoration: none; }

img {
  cursor: pointer;
  border: 0;
  margin-right: 4px;
  vertical-align: middle; }
  img.decoratorImage {
    cursor: auto; }
  img.comboExecuteImage {
    margin-left: -6px; }

input.toolboxTextBox {
  background: #fbfbfb url(../themes/default/textures/textbox.gif) repeat-x;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  color: #2a302a;
  font: 8pt Verdana, Tahoma, Serif;
  margin: 2px 0;
  padding: 4px 2px 2px;
  height: 14px;
  width: 158px; }
input.toolboxButton {
  background-color: inherit;
  color: #4a4a4a;
  cursor: pointer;
  font: 8pt Tahoma, Sans-Serif;
  height: 20px;
  width: 68px;
  padding: 0 0 2px 0; }

.tabStrip {
  padding: 0;
  margin: 0;
  white-space: nowrap;
  border-bottom: #3f4b3f 0pt solid;
  border-collapse: collapse;
  width: 100%;
  font-weight: bold;
  font-family: Arial;
  margin-left: -6px; }

td.tabOn {
  padding: 0 0 5px 0;
  margin: 0;
  border-bottom: #3f4b3f 3pt solid;
  border-collapse: collapse;
  background-color: #3f4b3f;
  margin-right: 4px;
  text-align: center;
  border-right: #eeeeee 1pt solid;
  white-space: nowrap;
  color: #ffffff;
  height: 26px;
  width: 198px;
  cursor: pointer; }
td.tabOff {
  padding: 0 0 5px 0;
  margin: 0;
  border-bottom: #3f4b3f 3pt solid;
  background-color: #a9a9a9;
  border-right: #eeeeee 1pt solid;
  text-align: center;
  white-space: nowrap;
  color: #ffffff;
  cursor: pointer;
  height: 26px;
  width: 198px; }
td.tabHover {
  padding: 0 0 5px 0;
  margin: 0;
  border-bottom: #3f4b3f 3pt solid;
  background-color: #b1bab1;
  text-align: center;
  border-right: #eeeeee 1pt solid;
  white-space: nowrap;
  color: #2a302a;
  cursor: pointer;
  height: 26px;
  width: 198px; }
td.tabDisabled {
  padding: 0 0 5px 0;
  margin: 0;
  border-bottom: #3f4b3f 3pt solid;
  background-color: #e4e4e4;
  border-right: #eeeeee 1pt solid;
  text-align: center;
  white-space: nowrap;
  color: #cacaca; }
td.tabEmpty {
  padding: 0 0 5px 0;
  margin: 0;
  border-bottom: #3f4b3f 3pt solid;
  background-color: #ffffff;
  border-right: #ffffff 1pt solid;
  text-align: center;
  white-space: nowrap;
  color: #ffffff; }

span.dashboardItemTitle {
  background-color: inherit;
  color: #95653a;
  border-bottom: #a2a2a2 1px dotted;
  padding-bottom: 2px;
  margin-bottom: 4px;
  font-weight: bold;
  font-family: Arial, Sans-Serif;
  display: block; }

div.dashboardWorkarea {
  background-color: #ffffff;
  border-left: #f8f8f8 1px solid;
  border-top: #f8f8f8 7px solid;
  width: 100%; }

ul.dashboardItemList {
  list-style-type: none;
  margin: 0 0 0 6px;
  padding: 0; }
  ul.dashboardItemList li {
    background-image: url(/empiria/themes/default/bullets/action_bullet.gif);
    background-repeat: no-repeat;
    background-position: 0 4px;
    padding-left: 10px;
    margin: 2px 0 8px; }

select.toolboxControl {
  background: #fbfbfb url(../themes/default/textures/textbox.gif) repeat-x;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  color: #2a302a;
  font: 8pt Tahoma, Verdana, Tahoma, Serif; }

/*# sourceMappingURL=dashboard.item.css.map */
