html, body
{
  color: #002400;
  font-family: Arial, Sans-serif;
  font-size: 8pt;
  padding: 0px 2px 0px 2px;
  margin: 0px 4px 4px 4px;
  height: 100%;
}
a, a:link, a:visited, a:active {
  background-color: inherit;
  color: inherit;
  text-decoration: none;
}
a:hover {
	background-color: inherit;
	color: inherit;
	text-decoration: none;
}
img {
	cursor: pointer;
	border: 0px;
	margin-right: 4px;
	vertical-align: middle;
}
img.decoratorImage {
	cursor: auto;
}
#divCanvas {
	margin: 8px 0px 0px 0px;
	padding: 0px;
}
span.navButtons {
	text-align: right;
	position: absolute;
	right: 14pt;
	top: 22pt;
}
div.leftItem, span.leftItem {
	float: left;
	text-align: left;
}
div.rightItem, span.rightItem {
	float: right;
	text-align: right;
}
span.serverTitle {
	font-size: 18pt;
}
div.breadcrumbBar {
	background-color: inherit;
	color: #ede8dc;
	font-size: 8pt;
	line-height: 16px;
}
div.breadcrumbBar ul {
	margin-left: 0;
	padding-left: 0;
	display: inline;
	border: none;
}
div.breadcrumbBar li {
	border: none;
	margin-left: 0;
	padding-left: 2px;
	list-style: none;
	display: inline;
}
#tblMainMenu
{
  margin: -2px -12px 0px -12px;
  outline: none;
  background-color: #FFFFFF;
}
.mainMenuFirstRow {
	height: 20px;
}
td.mainMenu {
	padding: 0px 0px 0px 18px;
	white-space: nowrap;
}
td.mainSubMenu {
	background-color: #902828;
	color: #ffffff;
	height: 28px;
	padding: 0px 0px 0px 6px;
}
td.mainSubMenu ul {
	margin: 0pt;
	padding: 0pt;
	border: none;
}
td.mainSubMenu li {
	padding: 0pt 8px 0pt 8px;
	list-style: none;
	display: inline;
	border-right: #9a9a9a 1px dotted;
	border-top: medium none;
	border-left: medium none;
	border-bottom: medium none;
	cursor: pointer;
}
td.mainSubMenu li a, td.mainSubMenu li a:link,
td.mainSubMenu li a:visited, td.mainSubMenu li a:active {
	background-color: inherit;
	color: #e9e9e9;
}
td.mainSubMenu li a:hover {
	background-color: inherit;
	color: #ffffcc;
}
td.mainSubMenu li.selectedMenu a
{
	background-color: inherit;
	color: #ffffff;
	text-decoration: underline;
}
.masterMenu {
	padding: 0px 0px 0px 0px;
	margin: 21px 0px 0px 0px;
	border-collapse: collapse;
	font-weight: bold;
	font-family: Arial;
}
td.menuOn
{
  background-color: #902828;
  padding: 0px 12px 0px 12px;
  text-align: center;
  border-right: #808080 1px solid;
  border-bottom: #902828 1px solid;
  color: #ffffff;
  height: 26px;
  cursor: pointer;
}
td.menuOff
{
  background-color: #AFAFAF;
  border-right: #808080 1px solid;
  border-bottom: #808080 1px solid;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  padding: 0px 12px 0px 12px;
  height: 26px;
}
td.menuHover {
	background-color: #989898;
	text-align: center;
	border-right: #808080 1px solid;
	border-bottom: #808080 1px solid;
	color: #ffffff;
	cursor: pointer;
	padding: 0px 12px 0px 12px;
	height: 26px;
}
td.menuDisabled {
	background-color: #e6e6e6;
	border-right: white 1px solid;
	text-align:center;
	white-space: nowrap;
	color: #c8c8c8;
	padding: 0px 12px 0px 12px;		
}
td.mainLogo {
 vertical-align: top;
 padding: 28px 0px 0px 18px;
}

.mainTitle {
  background-color: Transparent;
  color: #002D00;
  font-size: 16pt;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  top: 4px;
  position: relative;
}
img.newWindowImage {
	vertical-align: super;
}
li {
	position: relative;
	font-family: Tahoma, Verdana, Serif;	
}
ul.breadcrumbBarList li {
	background-color: inherit;
	color: #afafaf;
}
ul.breadcrumbBarList li a, ul.breadcrumbBarList li a:link,
ul.breadcrumbBarList li a:visited, ul.breadcrumbBarList li a:active {
	background-color: inherit;
	color: #e4e4e4;
}
ul.breadcrumbBarList li a:hover {
	background-color: inherit;
	color: #ffe4b5;
}
li a, li a:link, li a:visited, li a:active {
	background-color: inherit;
	color: #a8a8a8;
}
li a:hover {
	background-color: inherit;
	color: #ffe4b5;	
}
.subHeader {
  background-color: #f7e6b1;
  color: #103058;
  height: 22px;
  padding: 5px 0px 2px 8px;
  margin: 0px 0px 0px 0px;
  top: 0px;
  position: relative;
  font-size: 16pt;
  font-family: Arial, Sans-Serif;
  border-bottom: #d2b48c 1px solid;
}
#divBody {
	background-color: #fbfbfb;
	color: inherit;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
  top: 0px;
  position: relative;
}
#divBody a, #divBody a:link, #divBody a:visited, #divBody a:active {
  background-color: inherit;
  color: #696969;
  cursor: pointer;
}
#divBody a:hover
{
	background-color: inherit;
	color: #0d2f5e;
	cursor: pointer;
	text-decoration: none;
}
#divBody a.selectedItem, #divBody a.selectedItem:link,
#divBody a.selectedItem:visited, #divBody a.selectedItem:active {
	background-color: inherit;
	color: #696969;	
}
#divLeftToolbar {
	background-color: #fcfcfc;
	color: #696969;
	display: block;
	font-family: Tahoma, Verdana, Serif;
	float: left;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 188px;
	padding: 0px 0px 2px 0px;
	overflow: auto;
}
#divLeftToolbar a, #divLeftToolbar a:link, #divLeftToolbar a:visited, #divLeftToolbar a:active {
  background-color: inherit;
  color: #696969;
  cursor: pointer;
}
#divLeftToolbar a:hover
{
	background-color: inherit;
	color: #0d2f5e;
	cursor: pointer;
	text-decoration: none;
}
#divLeftToolbar a.selectedItem, #divLeftToolbar a.selectedItem:link,
#divLeftToolbar a.selectedItem:visited, #divLeftToolbar a.selectedItem:active {
	background-color: inherit;
	color: #696969;	
}
#divContentHeader {
  float: none;
  padding: 0px 0px 16px 6px;
  position: relative;
  margin-left: 194px;
}
#divContent {
	background-color: inherit;
	color: #3c3c3c;
	font-family: Tahoma, Verdana, Serif;
	font-size: 8pt;
  float: none;
  margin-left: 194px;
  padding: 0px 0px 2px 6px;
  position: relative;
  top: -6px;
}
#divWait {
	background-color: inherit;
	color: #3a5577;
	display: none;	
	font-weight: bold;
	float: none;
	margin-left: 194px;
	text-align: center;
	position: relative;
  overflow: auto;
}
div.contentTitle {
	background-color: #2c4776;
	color: #f4f4f4;
	font-size: 10pt;
	font-weight: normal;
  font-family: Tahoma, Verdana, Serif;
	padding: 6px 6px 6px 6px;
	border-bottom: #f4f4f4 1px solid;
}
div.contentHint {
	background-color: inherit;
	color: #afafaf;
	font-size: 8pt;	
	font-family: Arial, Sans-Serif;
	padding: 2px 0px 0px 2px;
}
#divAlertMessageBox {
	background-color: #faf8eb;
	color: #626262;
	display: none;
	height: 120px;
	width: 240px;
	overflow: hidden;
	position: absolute;
	border: solid 1px #9a9a9a;
	z-index: 500;
}
div.alertMessageBoxHeader {
	background-color: #e0e0e0;
	color: #4a4a4a;
	height: 18px;
	text-align: right;
	padding-top: 2px;
	padding-right: 0px;
}
div.alertMessageBoxHeader a:link, div.alertMessageBoxHeader a:active,
div.alertMessageBoxHeader a:visited, div.alertMessageBoxHeader a:hover {
	background-color: inherit;
	color: #4a4a4a;	
}
div.alertMessageBoxBody {
	cursor: pointer;	
	margin: 8px 6px 4px 8px;
}
div.alertMessageBoxImage {
	float: left;
	height: 52px;
	position: absolute;
}
div.alertMessageBoxTitle {
	background-color: inherit;
	color: #4f7399;
	font-size: 8pt;
	font-weight: bold;
	font-family: Verdana, Serif;
	margin-bottom: 2px;
	margin-left: 52px;
}
div.alertMessageBoxContents {
	margin-left: 52px;
}
ul.mainMenu {
  display: inline;
  position: absolute;
  list-style: none;
  padding: 0px;
  margin: 0px;
  white-space: nowrap;
  z-index: 199;
}
ul.mainMenu li {
  background-color: #0a2d4a;
  cursor: pointer;
  margin: 0px;
  position: relative;
  padding: 2px 4px 0px 6px;
  display: inline;
  float: left;
  height: 20px;
  left: 0px;
  width: 152px;
  z-index: 299;
}
ul.mainMenu li ul {
  background-color: Transparent;
  color: #ffe4b5;
  display: none;
  position: absolute;
  top: 1.7em;
  left: 0px;
  margin: 0px 6px 0px -6px;
  padding: 0px 0px 0px 0px;
  height: 20px;
  float: left;
  width: 152px;
  white-space: nowrap;
  z-index: 399;
}
img.subMenuImage {
  float: right;
  position:absolute;
  right: 0px;
  top: 2px;
}
