html, body {
  color: #003300;
  font-family: Arial, Sans-serif;
  font-size: 8pt;
  padding: 0 2px;
  margin: 0 4px 4px;
  height: 100%; }

a, a:link, a:visited, a:active {
  background-color: inherit;
  color: inherit;
  text-decoration: none; }

#divBody a, #divBody a:link, #divBody a:visited, #divBody a:active {
  background-color: inherit;
  color: #6a6a6a;
  cursor: pointer; }

#divLeftToolbar a, #divLeftToolbar a:link, #divLeftToolbar a:visited, #divLeftToolbar a:active {
  background-color: inherit;
  color: #6a6a6a;
  cursor: pointer; }

a:hover {
  background-color: inherit;
  color: inherit;
  text-decoration: none; }

img {
  cursor: pointer;
  border: 0;
  margin-right: 4px;
  vertical-align: middle; }
  img.decoratorImage {
    cursor: auto; }
  img.newWindowImage {
    vertical-align: super; }
  img.subMenuImage {
    float: right;
    position: absolute;
    right: 0;
    top: 2px; }

#divCanvas {
  margin: 8px 0 0;
  padding: 0; }

span.navButtons {
  text-align: right;
  position: absolute;
  right: 14pt;
  top: 22pt; }
span.leftItem {
  float: left;
  text-align: left; }
span.rightItem {
  float: right;
  text-align: right; }
span.serverTitle {
  font-size: 18pt; }

div.leftItem {
  float: left;
  text-align: left; }
div.rightItem {
  float: right;
  text-align: right; }
div.breadcrumbBar {
  background-color: inherit;
  color: #ede8dc;
  font-size: 8pt;
  line-height: 16px; }
  div.breadcrumbBar ul {
    margin-left: 0;
    padding-left: 0;
    display: inline;
    border: none; }
  div.breadcrumbBar li {
    border: none;
    margin-left: 0;
    padding-left: 2px;
    list-style: none;
    display: inline; }
div.contentTitle {
  background-color: #264b71;
  color: #f4f4f4;
  font-size: 10pt;
  font-weight: normal;
  font-family: Tahoma, Verdana, Serif;
  padding: 6px;
  border-bottom: #f4f4f4 1px solid; }
div.contentHint {
  background-color: inherit;
  color: #afafaf;
  font-size: 8pt;
  font-family: Arial, Sans-Serif;
  padding: 2px 0 0 2px; }
div.alertMessageBoxHeader {
  background-color: #e0e0e0;
  color: #4a4a4a;
  height: 18px;
  text-align: right;
  padding-top: 2px;
  padding-right: 0; }
  div.alertMessageBoxHeader a:link {
    background-color: inherit;
    color: #4a4a4a; }
  div.alertMessageBoxHeader a:active {
    background-color: inherit;
    color: #4a4a4a; }
  div.alertMessageBoxHeader a:visited {
    background-color: inherit;
    color: #4a4a4a; }
  div.alertMessageBoxHeader a:hover {
    background-color: inherit;
    color: #4a4a4a; }
div.alertMessageBoxBody {
  cursor: pointer;
  margin: 8px 6px 4px 8px; }
div.alertMessageBoxImage {
  float: left;
  height: 52px;
  position: absolute; }
div.alertMessageBoxTitle {
  background-color: inherit;
  color: #4f7399;
  font-size: 8pt;
  font-weight: bold;
  font-family: Verdana, Serif;
  margin-bottom: 2px;
  margin-left: 52px; }
div.alertMessageBoxContents {
  margin-left: 52px; }

#tblMainMenu {
  margin: -2px -12px 0;
  outline: none;
  background-color: #ffffff; }

.mainMenuFirstRow {
  height: 20px; }

td.mainMenu {
  padding: 0 0 0 18px;
  white-space: nowrap; }
td.mainSubMenu {
  background-color: #9b1b1f;
  color: #ffffff;
  height: 28px;
  padding: 0 0 0 6px; }
  td.mainSubMenu ul {
    margin: 0;
    padding: 0;
    border: none; }
  td.mainSubMenu li {
    padding: 0 8px;
    list-style: none;
    display: inline;
    border-right: #a0a0a0 1px dotted;
    border-top: medium none;
    border-left: medium none;
    border-bottom: medium none;
    cursor: pointer; }
    td.mainSubMenu li a {
      background-color: inherit;
      color: #e8e8e8; }
      td.mainSubMenu li a:link {
        background-color: inherit;
        color: #e8e8e8; }
      td.mainSubMenu li a:visited {
        background-color: inherit;
        color: #e8e8e8; }
      td.mainSubMenu li a:active {
        background-color: inherit;
        color: #e8e8e8; }
      td.mainSubMenu li a:hover {
        background-color: inherit;
        color: #ffffcc; }
    td.mainSubMenu li.selectedMenu a {
      background-color: inherit;
      color: #ffffff;
      text-decoration: underline; }
td.menuOn {
  background-color: #9b1b1f;
  padding: 0 12px;
  text-align: center;
  border-right: #aaa 1px solid;
  border-bottom: #9b1b1f;
  color: #ffffff;
  height: 26px;
  cursor: pointer; }
td.menuOff {
  background-color: #afafaf;
  border-right: #aaa 1px solid;
  border-bottom: #aaa 1px solid;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  padding: 0 12px;
  height: 26px; }
td.menuHover {
  background-color: #989898;
  text-align: center;
  border-right: #aaa 1px solid;
  border-bottom: #aaa 1px solid;
  color: #ffffff;
  cursor: pointer;
  padding: 0 12px;
  height: 26px; }
td.menuDisabled {
  background-color: #e4e4e4;
  border-right: #ffffff 1px solid;
  text-align: center;
  white-space: nowrap;
  color: #cacaca;
  padding: 0 12px; }
td.mainLogo {
  vertical-align: top;
  padding: 28px 0 0 18px; }

.masterMenu {
  padding: 0;
  margin: 21px 0 -3px 0;
  border-collapse: collapse;
  font-weight: bold;
  font-family: Arial; }

.mainTitle {
  background-color: Transparent;
  color: #003300;
  font-size: 16pt;
  font-family: Century, Serif;
  top: 4px;
  position: relative; }

li {
  position: relative;
  font-family: Tahoma, Verdana, Serif; }
  li a {
    background-color: inherit;
    color: #a9a9a9; }
    li a:link {
      background-color: inherit;
      color: #a9a9a9; }
    li a:visited {
      background-color: inherit;
      color: #a9a9a9; }
    li a:active {
      background-color: inherit;
      color: #a9a9a9; }
    li a:hover {
      background-color: inherit;
      color: #ffe4b5; }

ul.mainMenu {
  display: inline;
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  z-index: 199; }
  ul.mainMenu li {
    background-color: #0a2d4a;
    cursor: pointer;
    margin: 0;
    position: relative;
    padding: 2px 4px 0 6px;
    display: inline;
    float: left;
    height: 20px;
    left: 0;
    width: 152px;
    z-index: 299; }
    ul.mainMenu li ul {
      background-color: Transparent;
      color: #ffe4b5;
      display: none;
      position: absolute;
      top: 1.7em;
      left: 0;
      margin: 0 6px 0 -6px;
      padding: 0;
      height: 20px;
      float: left;
      width: 152px;
      white-space: nowrap;
      z-index: 399; }
ul.breadcrumbBarList li {
  background-color: inherit;
  color: #afafaf; }
  ul.breadcrumbBarList li a {
    background-color: inherit;
    color: #e4e4e4; }
    ul.breadcrumbBarList li a:link {
      background-color: inherit;
      color: #e4e4e4; }
    ul.breadcrumbBarList li a:visited {
      background-color: inherit;
      color: #e4e4e4; }
    ul.breadcrumbBarList li a:active {
      background-color: inherit;
      color: #e4e4e4; }
    ul.breadcrumbBarList li a:hover {
      background-color: inherit;
      color: #ffe4b5; }

.subHeader {
  background-color: #f7e6b1;
  color: #103058;
  height: 22px;
  padding: 5px 0 2px 8px;
  margin: 0;
  top: 0;
  position: relative;
  font-size: 16pt;
  font-family: Arial, Sans-Serif;
  border-bottom: #d2b48c 1px solid; }

#divBody {
  background-color: #fbfbfb;
  color: inherit;
  padding: 0;
  margin: 0;
  top: 0;
  position: relative; }
  #divBody a:hover {
    background-color: inherit;
    color: #0d245f;
    cursor: pointer;
    text-decoration: none; }
  #divBody a.selectedItem {
    background-color: inherit;
    color: #6a6a6a; }
    #divBody a.selectedItem:link {
      background-color: inherit;
      color: #6a6a6a; }
    #divBody a.selectedItem:visited {
      background-color: inherit;
      color: #6a6a6a; }
    #divBody a.selectedItem:active {
      background-color: inherit;
      color: #6a6a6a; }

#divLeftToolbar {
  background-color: #fbfbfb;
  color: #6a6a6a;
  display: block;
  font-family: Tahoma, Verdana, Serif;
  float: left;
  position: absolute;
  left: 0;
  top: 0;
  width: 188px;
  padding: 0 0 2px 0;
  overflow: auto; }
  #divLeftToolbar a:hover {
    background-color: inherit;
    color: #0d245f;
    cursor: pointer;
    text-decoration: none; }
  #divLeftToolbar a.selectedItem {
    background-color: inherit;
    color: #6a6a6a; }
    #divLeftToolbar a.selectedItem:link {
      background-color: inherit;
      color: #6a6a6a; }
    #divLeftToolbar a.selectedItem:visited {
      background-color: inherit;
      color: #6a6a6a; }
    #divLeftToolbar a.selectedItem:active {
      background-color: inherit;
      color: #6a6a6a; }

#divContentHeader {
  float: none;
  padding: 0 0 16px 6px;
  position: relative;
  margin-left: 194px; }

#divContent {
  background-color: inherit;
  color: #3c3c3c;
  font-family: Tahoma, Verdana, Serif;
  font-size: 8pt;
  float: none;
  margin-left: 194px;
  padding: 0 0 2px 6px;
  position: relative;
  top: -6px; }

#divWait {
  background-color: inherit;
  color: #3a5577;
  display: none;
  font-weight: bold;
  float: none;
  margin-left: 194px;
  text-align: center;
  position: relative;
  overflow: auto; }

#divAlertMessageBox {
  background-color: #faf8eb;
  color: #606060;
  display: none;
  height: 120px;
  width: 240px;
  overflow: hidden;
  position: absolute;
  border: solid 1px #a0a0a0;
  z-index: 500; }

/*# sourceMappingURL=master.page.css.map */
