body {
  font-family: Calibri, Vrinda, 'Gill Sans', 'Trebuchet MS', sans-serif;
  /* Vrinda, 'Gill Sans', 'Gill Sans MT', */
  font-kerning: none;
  text-align: justify;
  font-size: 10pt;
  max-width:780px;
}

.bigger {
  font-size: 11pt;
}
h2 {
  font-size: 16pt;
  padding-top: 13pt;
  margin-bottom: 4pt;
}

h5 {
  margin-top: 2pt;
  font-size: 10pt;
  font-weight: 100;
}

h3 {
  font-size: 13pt;
  margin-bottom: 4pt;
}

h4 {
  font-size: 11pt;
  font-weight: 400;
  margin-top: 2pt;
  line-height: 2px;
}

.footNotes {
  font-size: 8pt;
  padding-left: 42pt;
}

.certificate-text {
  text-align: justify;
  border-left: 6pt solid black;
  padding-left: 28pt;
  margin-left: 22pt;
  margin-right: 1.2cm;
}

.document-text {
  text-align: justify;
  padding-left: 16pt;
  margin-left: 16pt;
  margin-right: 1.2cm;
}

.logo {
  padding-left: 28pt;
}

.table-transaction-data {
  padding: 0;
  border-spacing: 14pt 2pt;
}


.warning {
  color:#ff0000;
}
.selectedItem {
  background-color: #eaffea;
}
.markedItem {
  background-color: #fcf9dd;
}