html, body {
  border: none;
  background: transparent;
  color: #000000;
  font-family: Arial, Sans-serif;
  font-size: 8pt;
  padding: 0;
  margin: 0;
  width: 100%; }

.mainTable {
  border-bottom: #000046 6pt solid; }

table {
  padding: 0;
  margin: 0; }
  table td {
    vertical-align: top; }
  table.reportTable {
    font-family: Tahoma, Arial, Sans-serif;
    padding: 0;
    margin: 0;
    border: none;
    white-space: nowrap;
    width: 100%;
    font-size: 8pt;
    border-spacing: 0;
    border-collapse: collapse;
    vertical-align: middle; }
  table.internalTable {
    margin: 0 6px 0 -6px;
    width: 100%; }

.verticalText {
  writing-mode: tb-rl;
  filter: flipv fliph; }

.tableLevel0 {
  margin-left: 2%;
  margin-right: 2%;
  padding: 8pt;
  border: none;
  width: 90%; }

.tableLevel1 {
  margin-left: 2%;
  margin-right: 2%;
  width: 95%; }
  .tableLevel1 tr td {
    padding: 4pt; }

.tableHeader {
  padding: 4pt;
  font-family: Tahoma, Arial, Sans-serif;
  border: none;
  background-color: #e8e8e8;
  border-collapse: collapse; }

h2 {
  padding: 8pt 4pt 4pt;
  font-size: 12px;
  font-family: Verdana, Tahoma, Arial, Sans-serif;
  width: 100%;
  margin: 12pt 0 0;
  color: #00005b; }

.title {
  background: transparent;
  font-family: Arial, Sans-serif;
  font-size: 14pt;
  font-weight: bold;
  color: #00005b;
  vertical-align: middle; }

.subTitle {
  font-family: Arial, Sans-serif;
  background: transparent;
  font-size: 10pt;
  font-weight: bold;
  color: #00005b; }

.reportItemHeader {
  background: transparent;
  border-bottom: #00005b 1px solid;
  color: #00005b;
  font-size: 10pt;
  font-weight: bold;
  font-family: Arial, Sans-serif;
  padding-top: 28pt; }

.reportItemSubHeader {
  background: transparent;
  color: #8b4513;
  padding-top: 12pt;
  padding-bottom: 8pt;
  margin-top: 10pt;
  font-weight: bold;
  font-size: 8pt;
  font-family: Tahoma; }

.reportItemSection {
  background: transparent;
  border-bottom: #00005b 1px solid;
  color: #00005b;
  font-size: 10pt;
  font-family: Arial, Sans-serif;
  padding: 4pt; }

.label {
  background: transparent;
  color: #6a6a6a;
  height: 18px;
  white-space: nowrap; }

.breakpage {
  page-break-after: always; }

.reportRow td {
  border-bottom: #000046 1pt solid;
  padding: 0 0 4pt 0;
  margin: 0; }

.reportTableHeader td {
  background-color: #c4c4c4;
  color: #0d245f;
  font-family: Arial, Sans-serif;
  font-size: 8pt;
  margin: 0;
  height: 16pt;
  border: none;
  vertical-align: middle;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 2pt;
  border-top: #192d5c 2px solid;
  border-bottom: #192d5c 1px solid; }

.reportTableTotals td {
  background-color: #cdcdcd;
  color: #0d245f;
  font-family: Tahoma, Arial, Sans-serif;
  padding: 2pt;
  border: none;
  border-collapse: collapse;
  vertical-align: middle;
  height: 22pt;
  border-bottom: #192d5c 2px solid; }

.detailsItem td {
  background: transparent;
  height: 16pt;
  vertical-align: middle;
  padding: 2pt;
  font-size: 8pt; }

.detailsOddItem td {
  background: transparent;
  background-color: #efefef;
  height: 16pt;
  vertical-align: middle;
  padding: 2pt;
  border-top: #192d5c 1px solid;
  border-bottom: #192d5c 1px solid;
  font-size: 8pt; }

.separator td {
  border-bottom: #a0a0a0 1pt solid;
  padding-top: 8pt;
  padding-bottom: 12pt;
  padding-right: 8pt;
  background-color: #f8f8f8; }

/*# sourceMappingURL=report.css.map */
