html, body {
  color: #fcfcfc;
  font-family: Arial, Sans-serif;
  font-size: 8pt;
  padding: 0px  0px 0px 0px;
  margin: 0px 0px 0px 0px;
  overflow: hidden;
  height: 100%;
  border: none;
  cursor: auto;
}
a, a:link, a:visited, a:active {
  background-color: inherit;
  color: #f2daa2;
  text-decoration: none;
}
a:hover {
  background-color: inherit;
  color: #ffe4b5;
  text-decoration: none;
}
.tabStrip {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 14px 0px;
  white-space: nowrap;
  border-bottom: #900000 4pt solid;
  border-collapse: collapse;
  width: 100%;
  font-weight: bold;
  font-family: Arial;
  margin-left: -6px;
}
td.tabOn {
  background-color: #900000;
  margin-right: 4px;
  text-align:center;	
  border-right: #606060 1pt solid;
  white-space: nowrap;
  color: #ffffff;
  height: 26px;
  cursor: pointer;
}
td.tabOff {
  background-color: #7F7F7F;
  text-align: center;
  white-space: nowrap;
  color: #ffffff;
  cursor: pointer;
  border-right: #606060 1px solid;
  border-bottom: #606060 1px solid;
  text-align: center;
}
td.tabHover {
  background-color: #a0a0a0;
  text-align:center;
  border-right: #606060 1pt solid;
  white-space: nowrap;
  color: #ffffff;
  cursor: pointer;
}
td.tabDisabled {
  background-color: #e6e6e6;
  border-right: white 1pt solid;
  text-align:center;
  white-space: nowrap;
  color: #c8c8c8;
}
img {
  cursor: pointer;
  border: 0px;
  margin-right: 4px;
  vertical-align: middle;
}
img.decoratorImage {
  cursor: auto;
}
img.logo {
  cursor: auto;
  position: absolute;
  z-index: 100;
}
#divCanvas {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-image: url(../customer/main.menu.png);	
}
#divHeader
{
  background-color: #3F4B3F;
  color: white;
  height: 48px;
  overflow: hidden;
  padding: 2px 4pt 0pt 8pt;
}
span.appTitle {
  background: transparent;
  float: left;
  text-align: left;
  color: white;
  font-size: 16pt;
  font-family: Century, Serif;
  padding-top: 10px;
}
tr.detailsSuperHeader {
   background: #3a5577;
   color: #eeeeee;
   height: 26px;
}
tr.detailsSuperFooter {
  background: #d2b48c;
  color: #eeeeee;
  height: 8px;
}

#divBody {
  background-color: #fbfbfb;
  color: inherit;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  top: 0px;
  position: relative;	
}
#divContent {
  background-color: inherit;
  color: #3c3c3c;
  font-family: Tahoma, Verdana, Serif;
  font-size: 8pt;	
  margin: 2px 0px 2px 0px;
  padding: 12px 12px 0px 12px;
  position: absolute;
  float: left;
  overflow: auto;
}
#divContentAlwaysVisible {
  background-color: inherit;
  color: #3c3c3c;
  font-family: Tahoma, Verdana, Serif;
  font-size: 8pt;	
  margin: 2px 0px 2px 0px;
  padding: 12px 12px 0px 12px;
  position: absolute;
  float: left;
  overflow:visible;
}
#divRightMenu {
  background-color: #f5f5f5;
  color: #3c3c3c;
  font-family: Tahoma, Verdana, Serif;
  font-size: 8pt;
  margin: 2px 2px 2px 2px;
  padding: 12px 12px 0px 12px;
  position: absolute;
  float: right;
  height: 98%;
  top: 0;
  right: 0;
  width: 30%;
  overflow: auto;
  border-left: #b0c4de 1px solid;
}
div.contentTitle {
  background-color: inherit;
  color: #784f25;		
  font-size: 14pt;
  font-weight: normal;
  font-family: Arial, Sans-Serif;
  padding: 8px 0px 2px 0px;
  border-bottom: #d2b48c 1px solid;	
}
div.contentHint {
  background-color: inherit;
  color: #afafaf;
  font-size: 8pt;	
  font-family: Arial, Sans-Serif;
  padding: 2px 0px 16px 2px;
}
#divWait {
  background-color: inherit;
  color: #3a5577;
  display: none;	
  font-weight: bold;
  float: none;
  margin-left: 24px;
  text-align: center;
  position: relative;
  overflow: auto;
}
#divBottomToolbar {
  background-color: #f1e3c5;
  border-top: #d2b48c 1px solid;
  color: #486988;
  float: none;
  font-family: Tahoma, Verdana, Sans-Serif;
  height: 28px;
  padding: 6px 24px 0px 24px;
  margin: 0px;
}
div.leftItem, span.leftItem {
  float: left;
  text-align: left;
}
div.rightItem, span.rightItem {
  float: right;
  text-align: right;
}
span.rightItem img {
 padding-top: 6px;
}
.actionButton {
  height: 24px;
  font-family: Tahoma, Verdana;
  font-size: 8pt;
}
.actionsSeparator tr {
  padding-bottom: 4px;
  padding-top: 12px;
  background-color: #e4e4e4;
  border-top: #1b5b9e 1px solid;
}
.actionsSeparator {
  border-top: #6a6a6a 1px solid;
  background-color: #e4e4e4;
}

