<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="RppCertificateEmissionWSImplPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://pruebasunimert.cloudapp.net:8080/citysexternal/rppCertificateEmissionWS"
        binding="basicHttpBinding" bindingConfiguration="RppCertificateEmissionWSImplPortBinding"
        contract="CitysWS.RppCertificateEmissionWS" name="RppCertificateEmissionWSImplPort" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
  </runtime>
</configuration>
